<div #App class="geometria">

  <h1>Selecione a Forma geometrica</h1>
  <div class="geometria__options" [formGroup]="geometriaForm">
    <div class="geometria__item">
      <a type="button">
        <input type="radio" formControlName="Geometria"  name="Geometria" class="geometria__button" #quadrado id="quadrado" value="quadrado" (change)="forma(quadrado)" (click)="storeItem(quadrado)" >
        <img src="../../../../assets/geometria/geometria0.svg" alt="">
      </a>
    </div>
    <div class="geometria__item">
      <a type="button">
        <input type="radio" formControlName="Geometria" name="Geometria" class="geometria__button" #semicirculo id="semicirculo" value="semicirculo" (change)="forma(semicirculo)" (click)="storeItem(semicirculo)">
        <img src="../../../../assets/geometria/geometria1.svg" alt="">
      </a>
    </div>    
    <div class="geometria__item">
      <a type="button">
        <input type="radio" formControlName="Geometria" name="Geometria" class="geometria__button" #circular id="circular" value="circular" (change)="forma(circular)" (click)="storeItem(circular)">
        <img src="../../../../assets/geometria/geometria2.svg" alt="">
      </a>
    </div>
    <div class="geometria__item">
      <a type="button">
        <input type="radio" formControlName="Geometria" name="Geometria" class="geometria__button" #trapezio id="trapezio" value="trapezio" (change)="forma(trapezio)" (click)="storeItem(trapezio)">
        <img src="../../../../assets/geometria/geometria3.svg" alt="">
      </a>
    </div>    
    <div class="geometria__item">
      <a type="button">
        <input type="radio" formControlName="Geometria" name="Geometria" class="geometria__button" #triretangulo id="triretangulo" value="triretangulo" (change)="forma(triretangulo)" (click)="storeItem(triretangulo)">
        <img src="../../../../assets/geometria/geometria4.svg" alt="">
      </a>
    </div>    
    <div class="geometria__item">    
      <a type="button">
        <input type="radio" formControlName="Geometria" name="Geometria" class="geometria__button" #triescaleno id="triescaleno" value="triescaleno" (change)="forma(triescaleno)" (click)="storeItem(triescaleno)">
        <img src="../../../../assets/geometria/geometria5.svg" alt="">   
      </a>
    </div>
  </div>
  
  
  
  <h1 *ngIf="this.geometriaForm.get('Geometria').value === 'quadrado'">Selecione o lado livre</h1>
  <div  [formGroup]="geometriaForm" *ngIf="this.geometriaForm.get('Geometria').value === 'quadrado'" (change)="definePressao($event)">
    <div class="geometria__options" *ngIf="this.geometriaForm.get('Geometria').value === 'quadrado'">
      <div class="geometria__item">
        <label for="altura">Sem lados Livre</label>
        <a type=button>
          <input type="radio" formControlName="Apoio" name="Apoio" class="geometria__button" #Qlados value="4lados" (click)="storeItem(Qlados)" >
          <img src="../../../../assets/geometria/geometria0.svg" alt="">
        </a>
      </div>
      <div class="geometria__item">
        <label for="altura">3 Apoios</label>
        <a type="button">
          <input type="radio" formControlName="Apoio" name="Apoio" class="geometria__button" #Tlados value="3lados" (click)="storeItem(Tlados)" >
          <img src="../../../../assets/geometria/geometria0.svg" alt="">
        </a>
      </div>
      <div class="geometria__item">
        <label for="altura">2 Apoios</label>
        <a type="button">
          <input type="radio" formControlName="Apoio" name="Apoio" class="geometria__button" #Dlados value="2lados" (click)="storeItem(Dlados)" >
          <img src="../../../../assets/geometria/geometria0.svg" alt="">
        </a>
      </div>
    </div>
    <div  class="geometria__options" *ngIf="this.geometriaForm.get('Geometria').value === 'semicirculo'">
      <div class="geometria__item">    
        <a type=button>
          <input type="radio" formControlName="Apoio" name="Apoio" class="geometria__button" #semLadoLivreU id="semLadoLivreU" value="semLadoLivre" (click)="storeItem(semLadoLivreU)">
          <img src="../../../../assets/geometria/geometria1.svg" alt="">
        </a>
      </div>
    </div>
    <div class="geometria__options" *ngIf="geometriaForm.get('Geometria').value === 'circular'">
      <div class="geometria__item">    
        <a type=button>
          <input type="radio" formControlName="Apoio" name="Apoio" class="geometria__button" #semLadoLivreD id="semLadoLivreD" value="semLadoLivre" (click)="storeItem(semLadoLivreD)">
          <img src="../../../../assets/geometria/geometria2.svg" alt="">
        </a>
      </div>
    </div>    

    <div class="geometria__options" *ngIf="geometriaForm.get('Geometria').value === 'trapezio'">
      <div class="geometria__item">    
        <a type=button>
          <input type="radio" formControlName="Apoio" name="Apoio" class="geometria__button" #semLadoLivreT id="semLadoLivreT" value="semLadoLivre" (click)="storeItem(semLadoLivreT)">
          <img src="../../../../assets/geometria/geometria3.svg" alt="">
        </a>
      </div>
    </div>

    <div class="geometria__options" *ngIf="geometriaForm.get('Geometria').value === 'triretangulo'">
      <div class="geometria__item">    
        <a type=button>
          <input type="radio" formControlName="Apoio" name="Apoio" class="geometria__button" #semLadoLivreQ id="semLadoLivreQ" value="semLadoLivre" (click)="storeItem(semLadoLivreQ)">
          <img src="../../../../assets/geometria/geometria4.svg" alt="">
        </a>
      </div>
    </div>    

    <div  class="geometria__options" *ngIf="geometriaForm.get('Geometria').value === 'triescaleno'">
      <div class="geometria__item">    
        <a type=button>
          <input type="radio" formControlName="Apoio" name="Apoio" class="geometria__button" #semLadoLivreC id="semLadoLivreC" value="semLadoLivre" (click)="storeItem(semLadoLivreC)">
          <img src="../../../../assets/geometria/geometria5.svg" alt="">   
        </a>
      </div>
    </div>    

  </div>
  
  <h1>Selecione o lado livre</h1>
  <div class="geometria__options" [formGroup]="geometriaForm" >
    <div>
      <div *ngIf="geometriaForm.get('Apoio').value === '2lados'">
        <div class="geometria__item">    
          <label for="altura">Laterais livre</label>
          <a type=button>
            <input type="radio" formControlName="ladoApoio" name="ladoApoio" class="geometria__button" #altura id="altura" value="altura" (click)="storeItem(altura)">
            <img src="../../../../assets/geometria/geometria0.svg" alt="">   
          </a>
        </div>
        <div class="geometria__item">    
          <label for="lateral">Bases Livre</label>
          <a type=button>
            <input type="radio" formControlName="ladoApoio" name="ladoApoio" class="geometria__button" #lateral id="lateral" value="lateral" (click)="storeItem(lateral)">
            <img src="../../../../assets/geometria/geometria0.svg" alt="">   
          </a>
        </div>
      </div>    

      <div *ngIf="geometriaForm.get('Apoio').value === '3lados'">
        <input type="radio" formControlName="ladoApoio" name="ladoApoio" class="geometria__button" #MenorLivre id="MenorLivre" value="MenorLivre" (click)="storeItem(MenorLivre)">
        <img src="../../../../assets/geometria/geometria0.svg" alt="">   
        <label for="MenorLivre">Menor lado livre</label>
        
        <input type="radio" formControlName="ladoApoio" name="ladoApoio" class="geometria__button" #MaiorLivre id="MaiorLivre" value="MaiorLivre" (click)="storeItem(MaiorLivre)">
        <img src="../../../../assets/geometria/geometria0.svg" alt="">   
        <label for="MaiorLivre">Maior lado livre</label>
      </div>  
    </div>

  </div>
  
  
  <div class="geometria__options" [formGroup]="geometriaForm">
    <div class="md-form">
      <input type="text" formControlName="Inclinacao" name="Inclinacao" class="geometria__button form-control" #Inclinacao id="Inclinacao" max="90" min="0" (change)="storeItem(Inclinacao)">
      <label for="Inclinacao">Inclinação</label>
    </div>
  </div>
  
  <div class="geometria__options" [formGroup]="geometriaForm">
    <h1>Aplicação</h1>
    <input type="radio" formControlName="Aplicacao" name="Aplicacao" class="geometria__button" #interna id="interna" value="interna" (click)="storeItem(interna)">
    <label for="interna">Interna</label>
    
    <input type="radio" formControlName="Aplicacao" name="Aplicacao" class="geometria__button" #externa id="externa" value="externa" (click)="storeItem(externa)">
    <label for="externa">Externa</label>
  </div>   
  
    
  <div class="geometria__options" [formGroup]="geometriaForm">
      <h1>Tipo do pavimento</h1>
      <input type="radio" formControlName="TipoPavimento" name="TipoPavimento" class="geometria__button" #Acima id="Acima" value="Acima" (click)="storeItem(Acima)">
      <label for="Acima">Acima de 6m</label>
      
      <input type="radio" formControlName="TipoPavimento" name="TipoPavimento" class="geometria__button" #Abaixo id="Abaixo" value="Abaixo" (click)="storeItem(Abaixo)">
      <label for="Abaixo">Abaixo de 6m</label>
    </div>  
<div class="geometria__options" [formGroup]="geometriaForm">
    <h1>Dimensões</h1>
    <div class="geometria" [formGroup]="geometriaForm">
      <input type="number" formControlName="Largura" name="Largura" class="geometria" #Largura id="Largura" max="" min="0" (change)="storeItem(Largura); getLargura(Largura)">
      <input type="number" formControlName="Altura" name="Altura" class="geometria__" #Altura id="Altura" max="90" min="0" (change)="storeItem(Altura);getAltura(Altura)">
    </div>
  </div>

<div class="geometria__options" [formGroup]="geometriaForm">
  <h1>Pressão</h1>
    <input type="number" formControlName="Pressao" name="Pressao" class="geometria__" #Pressao id="Pressao" max="6000" min="600" (change)="storeItem(Pressao)">
  </div>
      
  <h1>Selecione Tipo de vidro</h1>
  <div class="geometria__options" [formGroup]="geometriaForm">
    <div>
      <label>Monolitico</label>  
      <input type="radio" formControlName="TipoVidro" name="TipoVidro" class="geometria__button" #monolitico id="monolitico" value="monolitico" (click)="storeItem(monolitico)">
      <img src="../../../../assets/geometria/geometria5.svg" alt=""> 
      
      <label>Laminado</label>  
      <input type="radio" formControlName="TipoVidro" name="TipoVidro" class="geometria__button" #laminado id="laminado" value="laminado" (click)="storeItem(laminado)">
      <img src="../../../../assets/geometria/geometria5.svg" alt="">   
<!-- 
      <input type="radio" formControlName="TipoVidro" name="TipoVidro" class="geometria__button" #insulado id="insulado" value="insulado" (click)="storeItem(insulado)">
      <img src="../../../../assets/geometria/geometria5.svg" alt="">   
      <label>Insulado</label>   -->
    </div>    
  </div>

  <div class="geometria__options" [formGroup]="geometriaForm">
    <div>
      <input type="radio" formControlName="TipoTratamento" name="TipoTratamento" class="geometria__button" #comum id="comum" value="comum" (click)="storeItem(comum)">
      <img src="../../../../assets/geometria/geometria5.svg" alt="">
      <label for="">Comum</label>   
      
      <!-- <input type="radio" formControlName="TipoTratamento" name="TipoTratamento" class="geometria__button" #laminado id="laminado" value="laminado" (click)="storeItem(laminado)">
      <img src="../../../../assets/geometria/geometria5.svg" alt="">   
      <label for="">Laminado</label>    -->

      
      <!-- <input type="radio" formControlName="TipoTratamento" name="TipoTratamento" class="geometria__button" #insulado id="insulado" value="insulado" (click)="storeItem(insulado)">
      <img src="../../../../assets/geometria/geometria5.svg" alt="">    -->
    </div>    
  </div>
</div>

<p> Geometria: {{geometriaForm.value | json}}</p>

<button (click)="calcular(geometriaForm.controls)">Calcular</button>

<div class="geometria__options" *ngFor="let vidro of ArrayResultados">
  <p>EspessuraVidro: {{vidro.EspessuraVidro.toFixed(2)}}</p>
  <p>EspessuraMinima: {{vidro.EspessuraMinima}}</p>
  <p>Resultado de Espessura: {{vidro.EspessuraBroken === 'OK'? 'Passou' : 'Quebrou' }}</p>
  <p>FlechaMinima: {{vidro.FlechaMinima}}</p>
  <p>FlechaAtuante: {{vidro.FlechaAtuante}}</p>
  <p>Resultado de Flecha: {{vidro.FlechaBroken === 'OK'? 'Passou' : 'Quebrou' }}</p>
</div>